.footer {
  background-color: var(--background-primary);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer__wrapper {
  max-width: 1720px;
  margin: 0 auto;
  padding: 3rem var(--padding-x);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright-wrapper {
  display: flex;
}

.footer__logo {
  height: auto;
  width: 30px;
  margin-right: 1rem;
}

.footer__github-anchor {
  transition: opacity 150ms ease-in-out;
}

.footer__github {
  height: auto;
  width: 35px;
}

.footer__github-anchor:hover {
  opacity: 0.7;
}

.footer__copyright {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}
