.hero {
  background-color: var(--background-primary);
  background-image: url("/resources/noise.png");
  height: 100vh;
  position: relative;
}

.hero__background-lines {
  position: absolute;
  top: 30%;
}

.hero__wrapper {
  max-width: 1720px;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--padding-x);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title-block {
  margin-bottom: 4rem;
}

.hero__title-block :not(:last-child) {
  margin-bottom: 1rem;
}

.hero__title {
  font-size: var(--text-7xl);
  color: white;
  font-weight: 400;
}

.hero__divider {
  height: 2px;
  width: 100%;
  background-color: white;
}

.hero__subtitle {
  font-size: var(--text-5xl);
  font-weight: 300;
  color: white;
}

.hero__doorway {
  height: 450px;
  width: 300px;
  position: relative;
  background: radial-gradient(50% 50% at 50% 50%, #fdfdfd 0%, #fff4d8 99.99%);
  box-shadow: 0px 0px 24px #fff4d8;
}

.hero__path {
  bottom: 0;
  position: absolute;
  height: calc((100vh - 664px) / 2);
  width: 100%;
  background: linear-gradient(180deg, #fff4d8 0%, #abc5bc 100%);
  clip-path: polygon(
    calc((100vw - 300px) / 2) 0,
    calc((100vw - 300px) / 2 + 300px) 0,
    100% 100%,
    0% 100%
  );
  display: none;
}

@media (min-width: 1024px) {
  .hero__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hero__title-block {
    margin-bottom: 0;
    padding-right: 4rem;
  }

  .hero__title {
    font-size: var(--text-6xl);
  }

  .hero__subtitle {
    font-size: var(--text-4xl);
  }

  .hero__path {
    bottom: 0;
    position: absolute;
    height: calc((100vh - 450px) / 2);
    width: 100%;
    background: linear-gradient(180deg, #fff4d8 0%, #abc5bc 100%);
    clip-path: polygon(
      calc(100vw - var(--padding-x) - 300px) 0,
      calc(100vw - var(--padding-x)) 0,
      100% 100%,
      0% 100%
    );
    display: block;
  }
}

@media (min-width: 1280px) {
  .hero__title {
    font-size: var(--text-7xl);
  }

  .hero__subtitle {
    font-size: var(--text-5xl);
  }
}

@media (min-width: 1720px) {
  .hero__path {
    clip-path: polygon(
      calc((100vw - (100vw - 1720px) / 2) - var(--padding-x) - 300px) 0,
      calc((100vw - (100vw - 1720px) / 2) - var(--padding-x)) 0,
      100% 100%,
      0% 100%
    );
  }
}
