.projects {
  height: 1000px;
  background-image: url("/resources/noise.png"),
    linear-gradient(
      180deg,
      var(--background-secondary) 0%,
      var(--background-primary) 100%
    );
  position: relative;
  overflow: hidden;
}

.projects__circle {
  border-radius: 50%;
  width: 580px;
  height: 580px;
  position: absolute;
}

.projects__circle-1 {
  top: 20%;
  background: radial-gradient(
    68.52% 68.52% at 30.21% 31.48%,
    rgba(137, 163, 154, 0.49) 0%,
    rgba(137, 163, 154, 0) 100%
  );
}

.projects__circle-2 {
  top: 60%;
  right: 0;
  background: radial-gradient(
    67.32% 67.31% at 92.22% 32.69%,
    rgba(137, 163, 154, 0.49) 0%,
    rgba(137, 163, 154, 0) 100%
  );
}

.projects__wrapper {
  max-width: 1720px;
  height: 100%;
  margin: 0 auto;
  padding: 5rem var(--padding-x);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects__cards-wrapper {
  display: flex;
  width: 100%;
  margin-top: 6rem;
  z-index: 10;
}

.projects__cards-wrapper :not(:last-child) {
  margin-right: 4rem;
}

.projects__card {
  width: 100%;
  height: 450px;
  background: radial-gradient(
    64.95% 64.95% at 50% 50%,
    rgba(235, 255, 248, 0.42) 0%,
    rgba(174, 199, 190, 0.42) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 300ms ease-in-out;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.projects__card:hover {
  box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.1);
}

.projects__content-wrapper {
  padding: 2.5rem 2rem;
  transition: transform 300ms ease-in-out, filter 300ms ease-in-out;
}

.projects__card-title {
  color: white;
  font-size: var(--text-4xl);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.projects__card-divider {
  width: 100%;
  height: 1px;
  background-color: white;
  margin-bottom: 0.75rem;
}

.projects__card-description {
  color: white;
  font-size: var(--text-lg);
  font-family: var(--font-sans);
  width: 100%;
}

.projects__card-image {
  position: absolute;
  padding-top: 24px;
  padding-left: 2rem;
  left: 0;
  right: 0;
  will-change: transform;
}

.projects__card:hover .projects__content-wrapper {
  transform: scale(0.9);
  filter: blur(1.5px);
}
